/**
 * Fonts
 * http://www.tulsayeti.com/fonts/proxima-nova/
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$lynk-font-path}/proximanova-regular-webfont.eot');
  src: url('#{$lynk-font-path}/proximanova-regular-webfont.woff') format('woff'),
       url('#{$lynk-font-path}/proximanova-regular-webfont.ttf') format('truetype'),
       url('#{$lynk-font-path}/proximanova-regular-webfont#ProximaNovaBlRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$lynk-font-path}/proximanova-semibold-webfont.eot');
  src: url('#{$lynk-font-path}/proximanova-semibold-webfont.woff') format('woff'),
       url('#{$lynk-font-path}/proximanova-semibold-webfont.ttf') format('truetype'),
       url('#{$lynk-font-path}/proximanova-semibold-webfont#proxima_nova_ltbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$lynk-font-path}/proximanova-light-webfont.eot');
  src: url('#{$lynk-font-path}/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$lynk-font-path}/proximanova-light-webfont.woff') format('woff'),
       url('#{$lynk-font-path}/proximanova-light-webfont.ttf') format('truetype'),
       url('#{$lynk-font-path}/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: 300;
  font-style: normal;
}