.lynk.account-business {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -224px;
  background-size: 132px 555px;
  width: 13px;
  height: 14px;
}
.lynk.account-mail {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -46px;
  background-size: 132px 555px;
  width: 14px;
  height: 8px;
}
.lynk.account-phone {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -166px;
  background-size: 132px 555px;
  width: 13px;
  height: 13px;
}
.lynk.account-profile {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -209px;
  background-size: 132px 555px;
  width: 13px;
  height: 14px;
}
.lynk.lynk-add-light {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -55px;
  background-size: 132px 555px;
  width: 9px;
  height: 9px;
}
.lynk.lynk-add-white {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -37px;
  background-size: 132px 555px;
  width: 8px;
  height: 8px;
}
.lynk.lynk-archive {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -99px;
  background-size: 132px 555px;
  width: 15px;
  height: 12px;
}
.lynk.lynk-checkbox-checked {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -76px;
  background-size: 132px 555px;
  width: 10px;
  height: 10px;
}
.lynk.lynk-checkbox {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -65px;
  background-size: 132px 555px;
  width: 10px;
  height: 10px;
}
.lynk.lynk-close {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -30px;
  background-size: 132px 555px;
  width: 6px;
  height: 6px;
}
.lynk.lynk-delete {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -331px;
  background-size: 132px 555px;
  width: 11px;
  height: 15px;
}
.lynk.lynk-dropdown-light {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -17px;
  background-size: 132px 555px;
  width: 6px;
  height: 5px;
}
.lynk.lynk-dropdown-success {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -11px;
  background-size: 132px 555px;
  width: 5px;
  height: 5px;
}
.lynk.lynk-edit {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -180px;
  background-size: 132px 555px;
  width: 13px;
  height: 13px;
}
.lynk.lynk-logo-dark {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -518px;
  background-size: 132px 555px;
  width: 132px;
  height: 37px;
}
.lynk.lynk-logo {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -492px;
  background-size: 132px 555px;
  width: 95px;
  height: 25px;
}
.lynk.lynk-mail {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -138px;
  background-size: 132px 555px;
  width: 19px;
  height: 13px;
}
.lynk.lynk-notification {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -472px;
  background-size: 132px 555px;
  width: 16px;
  height: 19px;
}
.lynk.nav-accounts-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -315px;
  background-size: 132px 555px;
  width: 18px;
  height: 15px;
}
.lynk.nav-accounts {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -299px;
  background-size: 132px 555px;
  width: 18px;
  height: 15px;
}
.lynk.nav-admin-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -454px;
  background-size: 132px 555px;
  width: 16px;
  height: 17px;
}
.lynk.nav-admin {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -436px;
  background-size: 132px 555px;
  width: 16px;
  height: 17px;
}
.lynk.nav-consultations-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -112px;
  background-size: 132px 555px;
  width: 16px;
  height: 12px;
}
.lynk.nav-consultations {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -125px;
  background-size: 132px 555px;
  width: 16px;
  height: 12px;
}
.lynk.nav-dashboard-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -418px;
  background-size: 132px 555px;
  width: 18px;
  height: 17px;
}
.lynk.nav-dashboard {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -400px;
  background-size: 132px 555px;
  width: 18px;
  height: 17px;
}
.lynk.nav-experts-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -382px;
  background-size: 132px 555px;
  width: 15px;
  height: 17px;
}
.lynk.nav-experts {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -364px;
  background-size: 132px 555px;
  width: 15px;
  height: 17px;
}
.lynk.nav-projects-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -284px;
  background-size: 132px 555px;
  width: 17px;
  height: 14px;
}
.lynk.nav-projects {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -269px;
  background-size: 132px 555px;
  width: 17px;
  height: 14px;
}
.lynk.nav-users-active {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -254px;
  background-size: 132px 555px;
  width: 17px;
  height: 14px;
}
.lynk.nav-users {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -239px;
  background-size: 132px 555px;
  width: 17px;
  height: 14px;
}
.lynk.project-detail-title-dropdown {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -5px;
  background-size: 132px 555px;
  width: 6px;
  height: 5px;
}
.lynk.project-list-add-new-project-industry-close-tag {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -23px;
  background-size: 132px 555px;
  width: 6px;
  height: 6px;
}
.lynk.project-list-field-sort {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px 0px;
  background-size: 132px 555px;
  width: 5px;
  height: 4px;
}
.lynk.top-nav-notification-add {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -152px;
  background-size: 132px 555px;
  width: 16px;
  height: 13px;
}
.lynk.top-nav-notification-bell {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -194px;
  background-size: 132px 555px;
  width: 13px;
  height: 14px;
}
.lynk.top-nav-notification-chat {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -87px;
  background-size: 132px 555px;
  width: 12px;
  height: 11px;
}
.lynk.top-nav-notification-consultations {
  background-image: url($lynk-spritesheet-path);
  background-position: 0px -347px;
  background-size: 132px 555px;
  width: 10px;
  height: 16px;
}
