{{#items}}
.lynk.{{name}} {
  background-image: url($lynk-spritesheet-path);
  background-position: {{retina_offset_x}}px {{retina_offset_y}}px;
  background-size: {{retina_total_width}}px {{retina_total_height}}px;
  width: {{retina_width}}px;
  height: {{retina_height}}px;
}
{{/items}}