.modal-header
  h3 Add Experts
.modal-body
  .form-group
    //- note: key-property has been reduced to 'name' only, name = objectId
    tags-input(key-property='name', display-property='name', ng-model='project.experts', replace-spaces-with-dashes='false', add-from-autocomplete-only='true', placeholder='Type to add experts' on-tag-removing='deleteExpert($tag)')
      auto-complete(source='lookupExpert($query)', min-length='1' debounce-delay='500')
.modal-footer
  button.btn.btn-primary.pull-right(ng-click='ok()') Add Experts
  button.btn.btn-light.right-spacer.pull-right(ng-click='cancel()') Cancel