.modal-header
  h3 Rename Project
.modal-body
  .form-group
    input.form-control(ng-model='project.name')
.modal-footer
  button.btn.btn-primary.pull-right(ng-click='ok()') Rename Project
  button.btn.btn-light.right-spacer.pull-right(ng-click='cancel()') Cancel